version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    labels: [ ] # prevent the default `dependencies` label from being added to pull requests
    ignore:
      - dependency-name: "nanoid"
        update-types: ["version-update:semver-major"] # prevent from upgrading from nanoid@3, see for more info: https://github.com/ably/spaces/pull/307
    # Disable @dependabot (except for security updates) because it pollutes a list of PRs, we'll update CI to use @renovate instead
    open-pull-requests-limit: 0
