name: Release packages

on:
  release:
    types: [published]

permissions:
  id-token: write
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18.13.0'
      - name: Install dependencies and publish
        run: |
          npm ci
          npm run build
          npm publish --access=public
