name: Renovate
on:
  workflow_dispatch:
  schedule:
  # Run every week on Monday 9:00:
  - cron: '0 9 * * 1'

jobs:
  renovate:
    name: Renovate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: renovatebot/github-action@v42.0.4
        with:
          configurationFile: .github/renovate.json
          token: ${{ secrets.RENOVATE_TOKEN }}
